
.AnalyticsDashBoard{
  margin: 50px;
}

.Filters{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.monthcat{
    width: 170px;
    height: 35px;
    background-color: #ffff;
    color: black;
    border:1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.Spentcat{
    width: 100px;
    height: 35px;
    background-color: #ffff;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
 .reset{
    width: 150px;
    height: 35px;
    padding: 5px;
    border: none;
    background-color: #4ab674;
    color: #ffff;
    border-radius: 10px;
 }
 .Totals{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    background-color: #ffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
 }
 .Totalincome ,.Totalexpense, .Netbalance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .sec1
 {
    /* width: 650px; */
    display: flex;
    justify-content: space-between;
    gap: 250px;
    
    padding: 50px;
 }
 .sec2
 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 540px;
 }
 