.Graph-sec{
    background-color: #ffff;
    height: 600px;
    width: 650px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
}
.GraphHead{
    margin-top: 60px;
}

.category-item{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}


