@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  margin: 0px;
  padding: 0px;

}
body{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f5f8;
}

.MainContentSec{
  display: flex;
  flex-direction:row;
  padding: 40px;
   position: relative;
   top: 40px;
}